* {
	margin: 0;
	padding: 0;
	/* https://learn.javascript.ru/box-sizing */
	/* предотвращаем изменение размеров отступами */
	box-sizing: border-box;
}

.wrapper {
	/* никто сейчас так не делает, обычно или вся ширина, или задаем в %, все зависит от дизайна,
		но там где есть aside сайты обычно на всю ширину*/
	/* width: 95em; */
	/* margin: 0 auto; */
	background: url(images/foot.png) right repeat-y;
	overflow: hidden;
	/* один из способов прижать footer, когда не хватает высоты содержимого */
	min-height: calc(100vh - 140px);
}

/* в данном дизайне они идентичны */
header, footer {
	/* теперь нам это не надо, у нас 1 неизменная строка */
	/* padding-top: 1%; */
	/* padding-bottom: 1%; */
	/* font-size: 1em; */
	background-color: #ADD8E6;
	text-align: center;
	height: 70px;
}

header>p,
footer>p {
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
	/* хак для вырванивания по вертикали, задаем как height родителя */
	line-height: 70px;
    font-size: 1.5em;
}

aside, section {min-height: calc(100vh - 140px);}

aside {
	float: left;
	width: 13em;
	padding-right: 2%;
	padding-left: 2.5%;
	font-size: 1.5em;
	background-color: #F0E68C;
}

aside h3 {
	padding-top: 6%;
	padding-bottom: 5%; 
}

section {
	/* чтобы контент не попал на мячи */
	padding-right: 50px;
	/* нам важна фиксированная ширина только aside, 
	остальное блочное содержимое займет остаточную ширину */
	/* float: left; */
	/* width: 40em; */
	/* отступ на фиксированный размер aside */
	margin-left: 13em;
	font-size: 1.8em;
}

article {
	padding: 1em;
	/* сделай маленький текст, чтобы высота блока стала меньше высоты картинки, я знаю, что ты знаешь это :) */
	/* https://webref.ru/course/float/clearfix */
	/* https://habr.com/post/48383/ */
	overflow: hidden;
}

article h3 {
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	text-transform: uppercase;
}

/* в данном случае ок, но не забывай, что применится для всех img на странице */
img {
	float: left;
	margin-right: 1%;
}

article p {
	padding-bottom: 1%;
	text-indent: 2em;
	text-align: justify;
}

/* этот блок нам теперь не нужен */
/* footer {
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 1.6em;
	background-color: #ADD8E6;
	text-align: center;
	text-transform: uppercase;
	clear: both;
	height: 70px;
} */