html {font-size: 16px;} 
body {
    font-size: 100%;
} 
* {box-sizing: border-box;}

body a,
a:hover, 
a:active,
a:focus {
    cursor: pointer;
    color: #000;
    text-decoration: none;
    outline: none;
}

p {margin-top: 0;}

button, button:hover, button:active, button:focus {outline: none; border: none; cursor: pointer;}
.shopContainer {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button:disabled,
button:disabled:hover,
button[disabled],
button[disabled]:hover {
    background-color: #204d74!important;
    opacity: .5;
    cursor: default;
}

input:focus, textarea:focus, select:focus {outline: none; border-style: solid; border-color: green;}

header {
    padding-top: .5rem;
    display: flex;
    justify-content: flex-end;
}

header button,
.show-more {
    width: 20%;
    background-color: #05316D;
    color: white;
    padding: 5px;
    text-transform: uppercase;
     font-weight: bold; 
}

header button:active,
.show-more:active {
     background-color: #4380D3;
}

nav {
    margin: 1rem 0; 
}

.menu {
    -webkit-padding-start: 0px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
.menu li {
    list-style: none;
    width: 20%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #00cc66;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 10px 10px -1px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 10px -1px rgba(0, 0, 0, 0.5);
}

.menu li:first-child a {border-left: 4px solid #009900;}
.menu li:last-child a  {border-right: 4px solid #009900;}

.menu li a,
.menu li a:hover,
.menu li a:active,
.menu li a:focus {
    color: #fff;
    display: block;
    padding: 5px 0;
    border-top: 4px solid #009900;
    border-bottom: 4px solid #009900;
    border-right: 2px solid #009900;
    border-left: 2px solid #009900;
    -webkit-border-radius: 6px;
            border-radius: 6px;
}

.menu li a.active {
    background-color: #009900;
    box-shadow: none;
}

.paginate {
    display: flex;
    justify-content: flex-end;
}
.paginate > label {
  text-align: center; 
  color: #fff;
}

.paginate label {
  display: inline-block;
  background-color: #204d74;
  border: 3px solid #66b2ff; 
  width: 40px;
  height: 40px;
  line-height: 34px;
  margin-right: 5px;
  cursor: pointer;
}

.paginate input {display: none; }

.paginate input:checked + label {
    background-color: #204d74;
    border-color: #122b40; 
}

.show-more {
    display: block;
    width: 40%;
    height: 40px;
    margin: 0 auto;
    -webkit-box-shadow: 0 10px 10px -1px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 10px -1px rgba(0, 0, 0, 0.5);
}


.items-goods {
     display: flex; 
    flex-flow: row wrap;
     justify-content: space-between; 
}

.items-goods.show4 .item {
    width: 23%; 
}

.items-goods.show2 .item {
    width: 45%; 
}

.items-goods.show6 .item {
    width: 15%;  
}

.items-goods .item {
    margin: .5rem 0;
    text-align: center;
    display: inline-block;
    position: relative;
    border: 1px solid transparent;
}

.items-goods .item .price {
    background-color: #e0e0e0;
    font-weight: bold;
    font-size: 1.3rem;
 }

.items-goods .item h4 {
    font-size: 1.4rem;
    margin: 0.7rem 0;
}

.items-goods .item-buttons {
    position: absolute;
    top: 0;
    right: 0;
     display: none;   
    width: 40px;
    border-top-right-radius: 10px;
} 

.items-goods .item-buttons>button {
   width: 100%;
   height: 40px;
   background-color: #204d74;
   color: #fff;
} 

.items-goods .item-buttons>button:hover,
.items-goods .item-buttons>button:active {
    background-color: #66b2ff;
}

.items-goods .item-buttons>button:not(:last-child) {
    border-bottom: 1px solid #66b2ff;
}


.items-goods .item .item-label {
    width: 60px;
    height: 30px;
    background-color: #009900;
    color: #fff;
    font-size: 1.5rem;
    line-height: 30px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.3rem; 
     display: none; 
}  

.items-goods .item:hover {
    cursor: pointer;
    border-color: rgba(18, 43, 64, 0.4);
    -webkit-border-radius: 4px;
            border-radius: 4px;
}
.items-goods .item:hover .item-content,
.items-goods .item:hover .item-label {
    opacity: .2; 
}
.items-goods .item:hover .item-buttons {
      display: block;
}

/*Modal styles  */
.modalWindows>button, .remodal-confirm, .remodal-cancel {
    padding: 12px 10px;
    text-transform: uppercase;
}

.error-login {
    text-align: center;
    font-weight: bold;
    height: 1.5rem; 
}

.readModal .price {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
}

.loginModal .error-login {
    text-align: center;
    font-weight: bold;
      height: 2rem;  
    padding: .5rem;
    color: red;
}

.loginModal form {
    width: 70%;
    margin: 0 auto;
}

.loginModal input,
.loginModal label {
    width: 100%;
    display: block;
    padding: 10px 5px;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}



